<mat-card class="movie-card" *ngIf="pelicula" style="width: 20rem">
  <mat-card-header>
    <div mat-card-avatar class="movie-header-image"></div>
    <mat-card-title>{{ pelicula.titulo }}</mat-card-title>
    <mat-card-subtitle>
      <em
        >Fecha de estreno: {{ pelicula.fechaEstreno | date : "YYYY-MM-dd" }}
      </em>
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="pelicula.imagen" alt="Photo of movie" />
  <mat-card-content>
    <p>
      {{ pelicula.detalle.sinopsis }}
    </p>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <em
          ><strong>Director: {{ pelicula.detalle.director }}</strong></em
        >
      </li>
      <li class="list-group-item">
        <em><strong>Actores:</strong>{{ pelicula.detalle.actores }}</em>
      </li>
      <li class="list-group-item">
        <em><strong>Duración(min):</strong>{{ pelicula.duracion }}</em>
      </li>
      <li class="list-group-item">
        {{ pelicula.clasificacion }}-{{ pelicula.genero }}
      </li>
      <li class="list-group-item">
        Estatus:<span class="badge bg-primary">{{ pelicula.estatus }}</span>
      </li>
    </ul>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
</mat-card>
