<h1>{{ peliculaNew.id ? "Editar" : "Agregar" }} película</h1>

<form [formGroup]="peliculaForm" autocomplete="off" (ngSubmit)="guardar()">
  <div class="mb-3">
    <label for="director" class="form-label">
      <fa-icon [icon]="faAsterisk" style="color: red"></fa-icon>

      <span class="badge rounded-pill bg-dark">Título</span></label
    >
    <input
      id="titulo"
      type="text"
      class="form-control"
      formControlName="titulo"
      required
    />

    <!-- mensajes de validaciones campo titulo-->

    <div
      *ngIf="titulo?.invalid && (titulo?.dirty || titulo?.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="titulo?.errors?.['required']">
        El campo título es requerido !
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="duracion" class="form-label">
      <fa-icon [icon]="faAsterisk" style="color: red"></fa-icon>

      <span class="badge rounded-pill bg-dark"> Duración(min)</span>
    </label>
    <input
      id="titulo"
      type="text"
      class="form-control"
      formControlName="duracion"
      required
    />

    <!-- mensajes de validaciones campo duracion-->

    <div
      *ngIf="duracion?.invalid && (duracion?.dirty || duracion?.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="duracion?.errors?.['required']">
        El campo duración es requerido !
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="clasificacion" class="form-label">
      <fa-icon [icon]="faAsterisk" style="color: red"></fa-icon>
      <span class="badge rounded-pill bg-dark">Clasificación</span>
    </label>
    <select
      formControlName="clasificacion"
      class="form-select"
      aria-label="Default select example"
    >
      <option value="">--Seleccione clasificación--</option>
      <option value="A">A</option>
      <option value="B">B</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="genero" class="form-label">
      <fa-icon [icon]="faAsterisk" style="color: red"></fa-icon>
      <span class="badge rounded-pill bg-dark">Género</span>
    </label>
    <input
      id="genero"
      type="text"
      class="form-control"
      formControlName="genero"
      required
    />

    <!-- mensajes de validaciones campo genero-->

    <div
      *ngIf="genero?.invalid && (genero?.dirty || genero?.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="genero?.errors?.['required']">
        El campo genero es requerido !
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="imagen" class="form-label">
      <fa-icon [icon]="faAsterisk" style="color: red"></fa-icon>
      <span class="badge rounded-pill bg-dark">Imagen</span>
    </label>
    <input
      id="imagen"
      type="text"
      class="form-control"
      formControlName="imagen"
      required
    />

    <!-- mensajes de validaciones campo imagen-->

    <div
      *ngIf="imagen?.invalid && (imagen?.dirty || imagen?.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="imagen?.errors?.['required']">
        El campo imagen es requerido !
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="imagen" class="form-label">
      <fa-icon [icon]="faAsterisk" style="color: red"></fa-icon>
      <span class="badge rounded-pill bg-dark"> Fecha de Estreno</span>
    </label>
    <input
      id="fechaEstreno"
      type="text"
      class="form-control"
      placeholder="YYYY-MM-dd"
      formControlName="fechaEstreno"
      required
    />

    <!-- mensajes de validaciones campo fechaEstreno-->

    <div
      *ngIf="
        fechaEstreno?.invalid && (fechaEstreno?.dirty || fechaEstreno?.touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="fechaEstreno?.errors?.['required']">
        El campo fechaEstreno es requerido !
      </div>
    </div>
  </div>

  <!-- select estatus -->
  <div class="mb-3">
    <label for="estatus" class="form-label">
      <fa-icon [icon]="faAsterisk" style="color: red"></fa-icon>
      <span class="badge rounded-pill bg-dark">Estatus</span>
    </label>
    <select
      formControlName="estatus"
      class="form-select"
      aria-label="Default select example"
    >
      <option value="">--Seleccione estatus--</option>
      <option value="Activa">Activa</option>
      <option value="Inactiva">Inactiva</option>
    </select>
  </div>

  <!-- select de detalle -->
  <div class="mb-3" formGroupName="detalle">
    <label for="detalle" class="form-label">
      <fa-icon [icon]="faAsterisk" style="color: red"></fa-icon>
      <span class="badge rounded-pill bg-dark"
        >Detalle director de la película</span
      >
    </label>
    <select
      formControlName="id"
      class="form-select"
      aria-label="Default select example"
    >
      <option value="null">--Seleccione detalle--</option>
      <option *ngFor="let detalle of detalles" [value]="[detalle.id]">
        {{ detalle.director }}
      </option>
    </select>
  </div>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button
      [disabled]="peliculaForm.invalid"
      class="btn btn-success"
      type="submit"
    >
      <fa-icon [icon]="faCheckDouble"></fa-icon>
      {{ peliculaNew.id ? "Actualizar" : "Guardar" }}
    </button>
    <a (click)="regresar()" class="btn btn-danger">
      <fa-icon [icon]="faCancel"></fa-icon>

      Cancelar</a
    >
  </div>
</form>
