/* You can add global styles to this file, and also import other style files */
#principal {
  background-image: url("./assets/cineappfondo.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
